/**
 * Place your custom styles here.
 */

 /**
 * Footer
 */
 .footer{
 text-align: center;
 background: url(../../../../default/files/motochenter.jpg) no-repeat center top;
 background-size: cover;
 background-color: #333a40;

 color: #fff;
 padding-bottom: 0;
 }

.footer h3{
margin-top: 0;
text-transform: uppercase;
font-weight: bold;
}
.footer-bootom {
min-height: 40px;
background-color: rgba(0, 0, 0, 0.55);
padding: 15px;
}
.footer1 {
padding-bottom: 20px;
text-shadow: 0px 0px 5px #000;
font-weight: bold;
}
.fa {
margin-right: 10px;
font-size: 2.5em;
}


.vodf{color:red;}
.kyiv{color:#3fa3c3;}

/**left sitebar*/
h2.block-title {
color: #fff;
font-size: 1.5em;
padding: 10px 10px;
background-color: #000;
}

/*Top menu*/
section#block-menu-menu-top-menu{
background-color: #fff;
text-transform: uppercase;
color: #000;
align-items: center;
justify-content: center;
overflow: auto;
display: flex;
}
section#block-menu-menu-top-menu a{
color: #000;
font-size: 12px;
font-weight: 800;
padding: 10px 25px;}

section#block-menu-menu-top-menu a:hover{color:#fff;}
section#block-menu-menu-top-menu a.active{color:#fff;}
section#block-menu-menu-top-menu li{
float: left;
text-align:center;
}
li.last.leaf .active{background: linear-gradient(to top, #ff2136, #f22631);}

/*Filter*/
section#block-block-4 {
    background-color: #000;
    color: #fff;
    max-height: 45px;
    text-align: center;
    line-height: 3;
}
/*Phone*/
section#block-block-5 {
    max-width: 200px;
    padding: 0;
    margin-left: 4%;
    float: left;
}
section#block-block-5>address{
margin:0;
padding: 10px;
}

/*User-login*/

section#block-block-6 {
    max-width: 200px;
    padding: 0;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 2%;
    text-decoration: none;
}
section#block-block-6 a{
color: #fff;
}
@media screen and (max-width: 400px) {
     section#block-block-6 { display: none;}
   }
/*Katalog*/

.thumbnail a{
color: #000;
}

.thumbnail .views-field-title {
font-weight: bold;
}
.views-field.views-field-commerce-price {
    display: inline-block;
}
.views-field.views-field-add-to-cart-form {
    display: inline-block;
    width: 60%;
}
/*button*/
.btn.btn-success.form-submit{
width: 100%;
}

/*Dostavka*/
.block.block-menu h2.block-title {
    margin: 0;
}
section#block-block-3 {
    color: #fff;
}
section#block-block-3 p {
    color: #fff;
    padding: 10px;
}

#block-views-news-block h2{
text-align: center;
text-transform: uppercase;
}

.type-label {
    background-color: #c7c2c2;
    padding: 5px;
    text-align: center;
    display: block;
    margin: 0 0 10px 10px;
    border-radius: 50px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: initial;
}
.type-label a{
color: #fff;
}

.views-field.views-field-title {
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
.views-field.views-field-commerce-price{
    color: #fff;
    background: linear-gradient(to top, #ff2136, #f22631);
    border-color: #000;
    padding: 11px 1px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;
    width: 40%;
    text-align: center;
    float: right;
}


/*cart-tovar*/

.field.field-name-commerce-price.field-type-commerce-price.field-label-hidden{
       display: inline-block;
    background: linear-gradient(to top, #ff2136, #f22631);
    padding: 10px 1px;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    float: right;
    margin-top: 80px;
    width: 50%;
    text-align: center;
}

.field.field-type-commerce-product-reference.field-label-hidden {
    display: inline-block;
    float: left;
    margin-top: 65px;
    width: 50%;
}

.node.view-mode-full {
    background: #fff;
    padding-top: 10px;
}

/**front-image-menu*/

div#views-bootstrap-grid-1, div#views-bootstrap-grid-2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.views-bootstrap-grid-plugin-style a{
    color: #fff;
    text-transform: uppercase;
}

div#first-time {
    display: none;
}

ol.breadcrumb {
    display: none;
}

/*мала корзина*/

#block-block-7{
font-weight: bold;
margin: 7px 0 18px 10px;
width: 220px;
height: 40px;
    /* position: fixed; */
    /* bottom: 10%; */
    /* right: 10px; */
float: left;
}
.shop-cart{
width:50px;
border-radius: 50%;}

.shop-cart:hover{
width: 52px;
}

/*ваш кошик порожній*/
.cart-empty-page {
    color: #fff;
    font-size: 18px;
}
thead {
    color: #fff;
}
.line-item-summary {
    color: #fff;
    font-weight: bold;
}
.views-table tbody{background: #fff;text-transform: uppercase;}

td.views-field.views-field-line-item-title, td.views-field.views-field-commerce-unit-price, td.views-field.views-field-edit-delete, td.views-field.views-field-commerce-total {vertical-align: middle;}

.well{
margin-top: 10%;
}


/*за вашим запитом  нічого не знайдено*/
.view-empty {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

form#webform-client-form-39 {
    color: #fff;
}

i.fa.fa-instagram:hover {
    color: #ff21ec;
}


/*Головна сторінка - сітка меню*/
#views-bootstrap-grid-1 img, #views-bootstrap-grid-2 img{
	margin: 0 auto;
}

/*Відступ з верху*/
body.navbar-is-fixed-top{
	padding-top: 70px;
}