body{
	background: url(/themes/arma/images/bg_body.gif) repeat-x 0 0 #e3e3e3;
}
.page-header{
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

iframe{
	width: 100%;
}

#block-contactpopupblock {
  @include respond-to(xs) {
    display: none;
  }
}
