.block-commerce-cart{
  border-bottom: 1px dotted #000;
  .cart-block--summary__icon{
    img{
      width: 45px;
    }
  }
  @include respond-to(xs) {
    text-align: center;
  }
  @include respond-to(md) {
    text-align: center;
  }
}

.catalog-item{
  background: #D7D7D7;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  a{
    color: #000;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  img{
    height: 250px;
    width: 290px;
    margin: 0 auto;
  }
}
.tovar-item{
  padding: 10px 0;
  border-bottom: 1px dotted #000;
  &:last-child{
    border-bottom: none;
  }
  img{
    float: left;
    border: 3px double #eee;
    margin-right: 15px;
  }
  a{
    color: #c3600f;
      font-size: 14px;
      font-weight: bold;
  }
  .form-group {
    margin-bottom: 0;
  }
  span{
    font-weight: bold;
    p{
      font-weight: none;
    }
  }

}


