.footer {
  background: linear-gradient(#f9f9f9 95%, #d8d8d8 100%);
  border-radius: 10px;
  padding: 10px !important;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px #000;
  #block-delivery{
    font-size: 10px;
  }
  hr{
    color: #000;
  }
  @include respond-to(xs) {
    text-align: center;
  }
    .row {
      .col-md-4 {
        @include respond-to(xs) {
          padding-bottom: 20px;
          font-size: 11px;
        }
      }
    }
}