#block-nomeritelefonivnagolovnustorinku {
    width: auto;
    float: right;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.5);
    .field--name-field-kiivstar{
      background: url(/themes/arma/images/tel_kiyvstar.png) no-repeat right center;
      padding-right: 50px;
      background-position-x: 162px;
      margin-bottom: 10px;
      @include respond-to(md) {
        background-position-x: 144px;
      }
    }
    .field--name-field-vodafone{
      background: url(/themes/arma/images/tel_mts.png) no-repeat right center;
      padding-right: 50px;
      margin-bottom: 10px;
    }
    .field--name-field-life{
      background: url(/themes/arma/images/tel_life.png) no-repeat right center;
      padding-right: 50px;
    }
    @include respond-to(md) {
      font-size: 14px;
    }
    @include respond-to(xs) {
      width: 240px;
      margin: 15px auto;
      float: none; 
    }
}



